{% extends "base.html" %}
{% block code %}
import datetime

def get_comments(path):
   path = "/authmartynicouk/list/" + path +"_comments"
   base_request(api_url + path, update_comments, update_comments)

def update_comments(req, text=None):   
    if text:
       comments = json.loads(text)
    else:
       comments = json.loads(req.text)
       storage[req.responseURL] = req.text
    counter = 0
    if comments is None:
       return None
    for comment in comments[::-1]:
       def add_comment(req, count=counter, text=None):
          place=str(count)
          if text:
             comment = json.loads(text)
          else:
             comment = json.loads(req.text)
             storage[req.responseURL] = req.text
	  id = place + "_comment"
          comment_text = comment["comment"].replace('¬', "'")
	  comment_element = html_elements["ARTICLE"]("<h4>" + comment["user"] + "</h4>")
	  comment_element <= html_elements["P"](comment_text, id=id + "_text")
          document[id] <= comment_element
          parse_time(comment["date"], id +"_text")
       id=str(counter) + "_comment" 
       try:
          document[id].clear()
       except:
          pass
       document["afterpage"] <= html_elements["DIV"]("", id=id, style={"display":"block"}) 
       base_request(api_url + comment, add_comment, add_comment)
       counter +=1


def base_post(path, payload):
    req = ajax.ajax()
    req.bind('complete', update_comments)
    req.open('PUT', api_url + path, True)
    req.set_header('content-type','application/x-www-form-urlencoded')
    req.send(payload)

def post_comment():
    vars = get_variables()
    md, scripts = markdown.mark(vars["comment"])
    md = md.replace('"', '¬').replace("'", "¬").replace("\n", "</p><p>")
    payload = {"data": {
       "user": "{{ user_name }}",
       "comment": md,
       "raw_comment": vars["comment"].replace('"', '¬').replace("'", "¬"),
       "scripts": scripts,
       "date": str(datetime.datetime.utcnow())
       }}
    path = "/authmartynicouk/list/{{ article }}_comments"
    storage.clear()
    base_post(path, payload) 



def draw_article(path):
   get_comments(path)
   get_each_element("/authmartynicouk/thing/"+ path)

   
get_links()
draw_article("{{ article }}")											      
try:							  
   document['commentbutton'].bind('click', post_comment)       
except:
   pass
{% endblock %}
{% block content %}
<div id="commentbox">
   <container id="inputs">
		      <textarea id="comment" class="variable">Add a comment!</textarea>
                      <button id="commentbutton" >comment</button>
   </container>
</div>
{% endblock %}
{% block admin %}
<div id="commentbox">
   <container id="inputs">
		      <textarea id="comment" class="variable">Add a comment!</textarea>
                      <button id="commentbutton" >comment</button>
   </container>
</div>
{% endblock %}
