{% extends "base.html" %}
{% block code %}
import datetime

def get_comments(path):
   path = "/authmartynicouk/list/" + path +"_comments?reverse=true"
   base_request(api_url + path, update_comments, update_comments)

def update_comments(req, text=None):   
    if text:
       comments = json.loads(text)
    else:
       comments = json.loads(req.text)
       storage[req.responseURL] = req.text
    counter = 0
    for comment in comments:
       def add_comment(req, count=counter, text=None):
          place=str(count)
          print("add_comment triggered")
          if text:
             comment = json.loads(text)
          else:
             comment = json.loads(req.text)
             storage[req.responseURL] = req.text
          print(comment) 
	  print("This is the comment payload")
	  id = place + "_comment"
	  comment_element = html_elements["ARTICLE"]("<h4>" + comment["user"] + "</h4>")
	  comment_element <= html_elements["P"](comment["comment"])
	  comment_element <= html_elements["P"](comment["date"], Class="date")
          document[id] <= comment_element
       id=str(counter) + "_comment" 
       document["afterpage"] <= html_elements["DIV"]("", id=id, style={"display":"block"}) 
       base_request(api_url + comment, add_comment, add_comment)
       counter +=1


def base_post(path, payload):
    req = ajax.ajax()
    req.bind('complete', dummy)
    req.open('PUT', api_url + path, True)
    req.set_header('content-type','application/x-www-form-urlencoded')
    print(payload)
    req.send(payload)

def post_comment():
    vars = get_variables()
    print("{{ user_name }}")
    payload = {"data": {
       "user": "{{ user_name }}",
       "comment": vars["comment"],
       "date": str(datetime.datetime.utcnow())
       }}
    path = "/authmartynicouk/list/{{ article }}_comments"
    base_post(path, payload) 

  
def dummy(req):
   print(req.text)

def draw_article(path):
   get_comments(path)
   get_each_element("/authmartynicouk/thing/"+ path)

   
get_links()
draw_article("{{ article }}")											      
try:							  
   document['commentbutton'].bind('click', post_comment)       
except:
   pass
{% endblock %}
{% block content %}
<div id="commentbox">
   <container id="inputs">
      <table>
        <tr>
              <td>
                       Add comment <input id="comment" class="variable">
              </td><td>
                        <button id="commentbutton">comment</button>
              </td>
        </tr>
      </table>
   </container>
   <br/>
</div>
{% endblock %}
{% block admin %}
<div id="commentbox">
   <container id="inputs">
      <table>
        <tr>
              <td>
                       Add comment <input id="comment" class="variable">
              </td><td>
                        <button id="commentbutton">comment</button>
              </td>
        </tr>
      </table>
   </container>
   <br/>
</div>
{% endblock %}
