<html>
<head>
<script src="https://www.brython.info/src/brython_dist.js"></script>
</head>
<body onload="brython()" >
	<div id="page"></div>
<script type="text/python">
from browser import document, ajax, html
import json

api_url = "https://notdb.martyni.co.uk"

def on_complete(req):
    stuff = json.loads(req.text)
    for i in stuff:
       print(i)

def get_page():
    req = ajax.ajax()
    req.bind('complete', on_complete)
    req.open('GET', api_url + '/martynicouk/list/page',True)
    req.set_header('content-type','application/x-www-form-urlencoded')
    req.send()

get_page()
</script>
<nav>
        {% if not session.logged_in %}
        <li>
    	    <a href="{{ url_4("facebook_login") }}">Login</a>
        </li>
        {% else %}
        <li>
    	    <a href="{{ url_4("logout") }}">{{ user_name }} Logout</a>
        </li>
        {% endif %}

    </ul>
        {% if not session.logged_in %}
        <!--<p> You must login </p>-->
        {% else %}
        {% block content %}
        <!--<p> You are logged in </p>-->
        {% endblock%}
        {% endif%}
</nav>
</body>
</html>
