{% extends "base.html" %}
{% block content %}
<script type="text/python">
from browser import document, alert, ajax, html, console
import datetime
import json
import re
api_url = 'https://notdb.martyni.co.uk'


html_elements = {
"BLOCKQUOTE":html.BLOCKQUOTE,
"OBJECT":html.OBJECT,
"KEYGEN":html.KEYGEN,
"LINK":html.LINK,
"BR":html.BR,
"OPTGROUP":html.OPTGROUP,
"SUB":html.SUB,
"PRE":html.PRE,
"RP":html.RP,
"FRAME":html.FRAME,
"METER":html.METER,
"SOURCE":html.SOURCE,
"RB":html.RB,
"BODY":html.BODY,
"TH":html.TH,
"FIGURE":html.FIGURE,
"SVG":html.SVG,
"FIGCAPTION":html.FIGCAPTION,
"P":html.P,
"BASE":html.BASE,
"TFOOT":html.TFOOT,
"VAR":html.VAR,
"AUDIO":html.AUDIO,
"MAP":html.MAP,
"OL":html.OL,
"TEXTAREA":html.TEXTAREA,
"ACRONYM":html.ACRONYM,
"MENU":html.MENU,
"DT":html.DT,
"DIALOG":html.DIALOG,
"ADDRESS":html.ADDRESS,
"NAV":html.NAV,
"MAIN":html.MAIN,
"CODE":html.CODE,
"HR":html.HR,
"ISINDEX":html.ISINDEX,
"HEAD":html.HEAD,
"LABEL":html.LABEL,
"META":html.META,
"DEL":html.DEL,
"FONT":html.FONT,
"SELECT":html.SELECT,
"NOFRAMES":html.NOFRAMES,
"CENTER":html.CENTER,
"RTC":html.RTC,
"KBD":html.KBD,
"DATALIST":html.DATALIST,
"HTML":html.HTML,
"VIDEO":html.VIDEO,
"ARTICLE":html.ARTICLE,
"EM":html.EM,
"FRAMESET":html.FRAMESET,
"FIELDSET":html.FIELDSET,
"BASEFONT":html.BASEFONT,
"BDO":html.BDO,
"BDI":html.BDI,
"PARAM":html.PARAM,
"S":html.S,
"COMMAND":html.COMMAND,
"DETAILS":html.DETAILS,
"OUTPUT":html.OUTPUT,
"INPUT":html.INPUT,
"EMBED":html.EMBED,
"HEADER":html.HEADER,
"H2":html.H2,
"H3":html.H3,
"BUTTON":html.BUTTON,
"SCRIPT":html.SCRIPT,
"H6":html.H6,
"H4":html.H4,
"INS":html.INS,
"UL":html.UL,
"TIME":html.TIME,
"STRIKE":html.STRIKE,
"MATH":html.MATH,
"OPTION":html.OPTION,
"TITLE":html.TITLE,
"SECTION":html.SECTION,
"SUP":html.SUP,
"SMALL":html.SMALL,
"STRONG":html.STRONG,
"COL":html.COL,
"AREA":html.AREA,
"MENUITEM":html.MENUITEM,
"APPLET":html.APPLET,
"RT":html.RT,
"TABLE":html.TABLE,
"B":html.B,
"IMG":html.IMG,
"PROGRESS":html.PROGRESS,
"ASIDE":html.ASIDE,
"DFN":html.DFN,
"RUBY":html.RUBY,
"SPAN":html.SPAN,
"MARK":html.MARK,
"TRACK":html.TRACK,
"TEMPLATE":html.TEMPLATE,
"DL":html.DL,
"H1":html.H1,
"WBR":html.WBR,
"DD":html.DD,
"TBODY":html.TBODY,
"DIV":html.DIV,
"H5":html.H5,
"DATA":html.DATA,
"LEGEND":html.LEGEND,
"DIR":html.DIR,
"NOSCRIPT":html.NOSCRIPT,
"PICTURE":html.PICTURE,
"COLGROUP":html.COLGROUP,
"BIG":html.BIG,
"TT":html.TT,
"TR":html.TR,
"LI":html.LI,
"IFRAME":html.IFRAME,
"TD":html.TD,
"A":html.A,
"STYLE":html.STYLE,
"FORM":html.FORM,
"I":html.I,
"Q":html.Q,
"CAPTION":html.CAPTION,
"U":html.U,
"ABBR":html.ABBR,
"SUMMARY":html.SUMMARY,
"THEAD":html.THEAD,
"CANVAS":html.CANVAS,
"FOOTER":html.FOOTER,
"SAMP":html.SAMP,
"CITE":html.CITE
}


def get_variables():
    vars = document.get(selector='input.variable')
    vars += document.get(selector='textarea.variable')
    inputs = {}
    total = 0
    for each in vars:
        inputs[each.id] = document[each.id].value
        if "key" in each.id:
           key_number = int(each.id[-1])
           if key_number > total:
              total = key_number
    if inputs.get("key1"):
       values = {}
       for index in range(1,total + 1):
          key = inputs["key" + str(index)]
          if not key:
             continue
          value = inputs["value" + str(index)]
          values[key] = value
       inputs["value"] = values
    return inputs


def base_request(*args, **kwargs):
    req = ajax.ajax()
    req.bind('complete', on_complete)
    req.open(*args)
    req.set_header('content-type','application/x-www-form-urlencoded')
    req.send(kwargs)

def post_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('POST',api_url + '/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"], True, data=vars["value"])
    elif vars.get("list"):
       base_request('POST',api_url + '/' + vars["bucket"] + '/list/' + vars["list"], True, data=vars["value"])

def put_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('PUT',api_url + '/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"], True, data=vars["value"])
    elif vars.get("list"):
       base_request('PUT',api_url + '/' + vars["bucket"] + '/list/' + vars["list"], True, data=vars["value"])

def get_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('GET',api_url + '/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"],True)
    elif vars.get("list"):
       base_request('GET',api_url + '/' + vars["bucket"] + '/list/' + vars["list"],True)

def delete_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('DELETE',api_url + '/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"],True)
    elif vars.get("list"):
       base_request('DELETE',api_url + '/' + vars["bucket"] + '/list/' + vars["list"],True)
    else:
       base_request('DELETE',api_url + '/' + vars["bucket"],True)

def add_key_value():
    vars = get_variables()
    number_of_values = len([i for i in vars if "value" in i])
    document['inputs'] <= html.BR()
    document['inputs'] <= html.INPUT(Id="key{}".format(number_of_values), Class="variable")
    document['inputs'] <= html.INPUT(Id="value{}".format(number_of_values), Class="variable")

def handle_file_name(filename):
    if "/" in filename:
       filename = filename.split("/")[-1]
    if "\\" in filename:
       filename = filename.split("\\")[-1]
    filename.replace(" ", "+")
    return filename

def upload_file():
    vars = get_variables()
    if vars.get("value") and vars.get("bucket"):
       url = api_url + '/' + vars["bucket"] + '/file/' + vars["value"]
    elif vars.get("bucket"):
       file_name =  handle_file_name(document['file'].value)
       url = api_url + '/' + vars["bucket"] + '/file/' + file_name
    else:
       return ''

    document['file_uploader'].action = url

def on_complete(req):
    try:
       alert(json.loads(req.text))
    except:
       alert(req.text)

def send_html():
   vars = get_variables()
   bucket = "authmartynicouk"
   alist = "page"
   alert(vars)
   url = api_url + '/' + bucket + '/list/' + alist
   date_ = str(datetime.datetime.utcnow())
   data = {
   "type": vars["html"] , 
   "contents": vars["contents"], 
   "attributes":{"Class": "automatic"} , 
   "author": "Martyni",
   "title": vars["title"],
   "date": date_ }
   base_request('POST',url, True, data=data)


def add_send_types():
   for i in sorted(html_elements):
      document['elements'] <= html.OPTION(i, Value=i)

def get_page():
   req = ajax.ajax()
   req.bind('complete', update_page)
   print(api_url + "/authmartynicouk/list/page")
   req.open('GET', api_url + "/authmartynicouk/list/page", True)
   req.send()

def update_page(req):
   page = json.loads(req.text)
   for element in page:
      print(element)
      print(html_elements[element["type"]])
      attributes = element["attributes"]
      document['page'] <= html_elements[element["type"]](element["contents"], **attributes)


def split_refferer(refferer):
   search = re.search(api_url + "\/(.*)\/file\/(.*)", refferer)
   if search:
      return search.group(1), search.group(2)

add_send_types()
document['send_html'].bind('click', send_html)
document['post'].bind('click', post_item)
document['put'].bind('click', put_item)
document['get'].bind('click', get_item)
document['delete'].bind('click', delete_item)
document['key_value'].bind('click', add_key_value)
document['html'].bind('click', add_key_value)
document['upload'].bind('mouseenter', upload_file)
#alert("{{ referrer }}")
if '{{ referrer }}' != 'None':
   bucket,filename = split_refferer('{{ referrer }}')
   document['bucket'].value = bucket
   document['iframe'].src ="{{ referrer }}"
else:
   pass
</script>
<div id="app">
   <container id="inputs">
      <table>
      <tr>
	 <th>
      		       Function
	 </th><th>
		       Value
	 </th>   
      </tr><tr>
	 <td>
      		       HTML
	 </td><td>
		       <input list="elements" id="html" class="variable" >
            	       <datalist id="elements" ></datalist>
	 </td>   
      </tr><tr>
	      <td>
		       HTML contents
	      </td><td>
		       <textarea id="contents" type="text" class="variable"></textarea>
	      </td>
      </tr><tr>
      </tr><tr>
	      <td>
		        Title
	      </td><td>
		        <input id="title" class="variable">
	      </td>
      </tr><tr>
	      <td>
		        Bucket
	      </td><td>
		        <input id="bucket" class="variable">
	      </td>
      </tr><tr>
	      <td>
      			List
	      </td><td>
			<input id="list" class="variable">
	      </td>
      </tr><tr>
	      <td>
      			Value
	      </td><td>
			<input id="value" class="variable">
	      </td>
      </tr><tr>
	      <td>
		      Index
	      </td><td>
		   	<input id="index" class="variable">
	      </td>
      </tr><tr>
	      <td>
      			<form id="file_uploader" action="/" method=post enctype=multipart/form-data>
      			<input id="file" name="FILE" type="file", class="variable">
	      </td><td>
			<input id="upload" type=submit value=Upload >
       			</form>
	      </td>
      </tr>
      </table>
      <button id="send_html">html</button>
      <button id="post">post</button>
      <button id="put">put</button>
      <button id="get">get</button>
      <button id="delete">delete</button>
      <button id="key_value">+</button>
   </container>
   <br/>
   <iframe id="iframe" width="100%" height="100%" frameborder="0"></iframe>
</div>
{% endblock %}
